<% layout('layouts/layout') %>
<!-- <h1>CHANGE PASSWORD</h1> -->
<form action="/finance/changePassword?_method=PUT" method="POST">
    <div class="mb-3">
        <input autofocus class="form-control mx-auto w-auto" name="oldPassword" placeholder="Current Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="newPassword" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="newPasswordConfirmation" placeholder="New Password (Again)" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>