<% layout('layouts/layout') %>
<!-- <h1>HISTORY</h1> -->

<table class="table tablestriped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>

    <tbody>
        <% for (row of user_history) {%> 
        <tr>
            <td class="text-start"> <%= row.stocks.symbol %> </td>
            <td class="text-end"> <%= row.shares %> </td>
            <td class="text-end"> <%= row.price %> </td>

            <!-- FORMATEAR EL TIEMPO COMO STRING BONITO...
            DEFINITIVAMENTE DEBE HABER UNA MEJOR FORMA!!! -->
            <% let yy = row.p_datetime.getFullYear() %>
            <% let mm = row.p_datetime.getMonth() %>
            <% mm = (parseInt(mm) < 10 ? "0" + mm : mm) %> 
            <% let dd = row.p_datetime.getDay() %>
            <% dd = (parseInt(dd) < 10 ? "0" + dd : dd) %> 
            <% let h = row.p_datetime.getHours() %>
            <% h = (parseInt(h) < 10 ? "0" + h : h) %> 
            <% let m = row.p_datetime.getMinutes() %>
            <% m = (parseInt(m) < 10 ? "0" + m : m) %> 
            <% let s = row.p_datetime.getSeconds() %>
            <% s = (parseInt(s) < 10 ? "0" + s : s) %> 

            <td class="text-end"> <%= `${yy}-${mm}-${dd} ${h}:${m}:${s}` %> </td>
        </tr>
        <% } %> 
    </tbody>


</table>